<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
  <appSettings>
    <add key="ConnectionString" value="Data Source=(localdb)\Projects;Initial Catalog=Chat;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"/>
  </appSettings>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WebService1Soap" />
        <binding name="WebService1Soap1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:49576/WebService1.asmx" binding="basicHttpBinding"
        bindingConfiguration="WebService1Soap" contract="ServiceReference1.WebService1Soap"
        name="WebService1Soap" />
      <endpoint address="http://localhost:49576/WebService1.asmx" binding="basicHttpBinding"
        bindingConfiguration="WebService1Soap1" contract="ServiceReference2.WebService1Soap"
        name="WebService1Soap1" />
    </client>
  </system.serviceModel>
</configuration>
